body {
    background-color: #232323;
    margin: 0;
    font-family: "Avenir";
}

.square {
    width: 30%;
    background: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 15%;
    transition: background 0.5s;
}

#container {
    margin: 20px auto;
    max-width: 600px;

}

h1 {
    color: white;
    text-align: center;
    background: steelblue;
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1.1;
    padding-top: 15px;

}

#message {
    display: inline-block;
    width: 20%;
    text-align: center;
}

li {
    font-size: 1rem;
    background: white;
    height: 30px;
    text-align: center;
    padding-left: 2%;
    font-weight: 700;
    color: steelblue;
    font-size: inherit;
    line-height: 1;
}

#mainNavbar {
    font-size: 1rem;
    background: white;
    height: 30px;
    text-align: center;
    font-weight: 700;
    color: steelblue;
    font-size: inherit;
}

.list-group-item {
    padding: 0;
    border: none;
}


#mid {
   width: 10%;
   padding-left: 12%;
}

.selected {
   color: white;
   background: steelblue;
}

#high {
    height: 100%;
    margin-right: 10px;
}

.left {
    text-align: left;
    padding-left: 10px;
}

.right {
    text-align: right;
    padding-right: 10px;
}

#contrast {
    line-height: 2;
}

#score {
    line-height: 2;
}

#colorDisplay {
    font-size: 200%;
    padding-top: 0px;
}

button {
    background: none;
    border: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    color: steelblue;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.3s;
    outline: none;
}

button:focus {
    outline: none;
}

button:hover {
    color: white;
    background: steelblue;
}

